# Physical files
extensions/display_mouse_lock/display_mouse_lock_x64.dll

# Virtual files
sounds/snd_bigbombexplosion/snd_bigbombexplosion.wav
sounds/snd_rain/snd_rain.wav
sounds/snd_trumpet/snd_trumpet.wav
sounds/snd_bounce/snd_bounce.wav
sounds/snd_wavedash/snd_wavedash.wav
sounds/snd_songnote/snd_songnote.wav
sounds/snd_summonShark2/snd_summonShark2.wav
sounds/snd_amegroundpound/snd_amegroundpound.wav
sounds/snd_shortflurry/snd_shortflurry.wav
sounds/snd_twinkle/snd_twinkle.wav
sounds/snd_clockhands2/snd_clockhands2.wav
sounds/snd_taikoheavyka/snd_taikoheavyka.wav
sounds/snd_flurry/snd_flurry.wav
sounds/snd_stickerremove/snd_stickerremove.wav
sounds/snd_retaliation/snd_retaliation.wav
sounds/snd_eliminatemode/snd_eliminatemode.wav
sounds/snd_tailswipe/snd_tailswipe.wav
sounds/snd_aik/snd_aik.wav
sounds/snd_stickersell/snd_stickersell.wav
sounds/bgm_chestopen2_short/bgm_chestopen2_short.wav
sounds/snd_ayamespiritslash/snd_ayamespiritslash.wav
sounds/bgm_intro/bgm_intro.wav
sounds/snd_specialReady/snd_specialReady.wav
sounds/snd_fireexplosion/snd_fireexplosion.wav
sounds/snd_eldrichscream/snd_eldrichscream.wav
sounds/snd_punchwoosh/snd_punchwoosh.wav
sounds/snd_trumpet3c/snd_trumpet3c.wav
sounds/snd_woosh2/snd_woosh2.wav
sounds/snd_taikoka/snd_taikoka.wav
sounds/snd_boxingpunch/snd_boxingpunch.wav
sounds/bgm_halloweennight/bgm_halloweennight.wav
sounds/snd_shoprefund/snd_shoprefund.wav
sounds/snd_feathers/snd_feathers.wav
sounds/snd_duckshoutwaves/snd_duckshoutwaves.wav
sounds/snd_explosion/snd_explosion.wav
sounds/snd_duckshout/snd_duckshout.wav
sounds/snd_card/snd_card.wav
sounds/snd_aceroladrop/snd_aceroladrop.wav
sounds/snd_demonlord/snd_demonlord.wav
sounds/snd_menu_back/snd_menu_back.wav
sounds/snd_zap/snd_zap.wav
sounds/snd_bossdefeated/snd_bossdefeated.wav
sounds/snd_yubiget/snd_yubiget.wav
sounds/snd_lowwoosh/snd_lowwoosh.wav
sounds/snd_charging/snd_charging.wav
sounds/snd_insanityspider/snd_insanityspider.wav
sounds/snd_amejump/snd_amejump.wav
sounds/snd_reaperabsorb/snd_reaperabsorb.wav
sounds/snd_eldritchgroan/snd_eldritchgroan.wav
sounds/snd_dropland/snd_dropland.wav
sounds/bgm_concert/bgm_concert.wav
sounds/snd_whirlpoolsplash/snd_whirlpoolsplash.wav
sounds/snd_menu_confirm/snd_menu_confirm.wav
sounds/snd_dynamitebody/snd_dynamitebody.wav
sounds/snd_stellar/snd_stellar.wav
sounds/snd_hispec/snd_hispec.wav
sounds/snd_alert/snd_alert.wav
sounds/snd_treesummon/snd_treesummon.wav
sounds/snd_coexistready/snd_coexistready.wav
sounds/snd_break/snd_break.wav
sounds/bgm_gameover/bgm_gameover.wav
sounds/snd_statup/snd_statup.wav
sounds/snd_absorbtako/snd_absorbtako.wav
sounds/snd_enchanting/snd_enchanting.wav
sounds/snd_horror/snd_horror.wav
sounds/snd_wamywater/snd_wamywater.wav
sounds/snd_throwspinning/snd_throwspinning.wav
sounds/snd_treestab/snd_treestab.wav
sounds/snd_gachaopening/snd_gachaopening.wav
sounds/snd_konkon/snd_konkon.wav
sounds/bgm_adtruck/bgm_adtruck.wav
sounds/snd_kickexplosion/snd_kickexplosion.wav
sounds/snd_timegateend/snd_timegateend.wav
sounds/snd_timeblast/snd_timeblast.wav
sounds/snd_reroll/snd_reroll.wav
sounds/snd_getEXP/snd_getEXP.wav
sounds/snd_heal1/snd_heal1.wav
sounds/snd_tailplug2/snd_tailplug2.wav
sounds/snd_bonk/snd_bonk.wav
sounds/snd_timeslow/snd_timeslow.wav
sounds/snd_stickerSwap/snd_stickerSwap.wav
sounds/snd_woosh1/snd_woosh1.wav
sounds/snd_acerolabuff/snd_acerolabuff.wav
sounds/snd_lvlup/snd_lvlup.wav
sounds/snd_trumpet3b/snd_trumpet3b.wav
sounds/snd_anvil/snd_anvil.wav
sounds/snd_achievementget/snd_achievementget.wav
sounds/snd_cursefire/snd_cursefire.wav
sounds/snd_aikbeam/snd_aikbeam.wav
sounds/snd_bullet/snd_bullet.wav
sounds/snd_hit2/snd_hit2.wav
sounds/snd_coin/snd_coin.wav
sounds/snd_bassdrop/snd_bassdrop.wav
sounds/snd_fireslash/snd_fireslash.wav
sounds/snd_timegate/snd_timegate.wav
sounds/snd_teleport/snd_teleport.wav
sounds/snd_catsummon/snd_catsummon.wav
sounds/snd_punchimpact/snd_punchimpact.wav
sounds/snd_bullet2/snd_bullet2.wav
sounds/snd_stickerDone/snd_stickerDone.wav
sounds/snd_taikodrumhit/snd_taikodrumhit.wav
sounds/snd_specialuse/snd_specialuse.wav
sounds/snd_delivery/snd_delivery.wav
sounds/snd_friendzone/snd_friendzone.wav
sounds/snd_holymana/snd_holymana.wav
sounds/snd_earthquake/snd_earthquake.wav
sounds/snd_concertexplode/snd_concertexplode.wav
sounds/snd_timeBubble/snd_timeBubble.wav
sounds/snd_converted/snd_converted.wav
sounds/snd_menu_select/snd_menu_select.wav
sounds/snd_nursed/snd_nursed.wav
sounds/snd_countdown/snd_countdown.wav
sounds/snd_trumpet3/snd_trumpet3.wav
sounds/bgm_chestopen1_short/bgm_chestopen1_short.wav
sounds/snd_eliminated/snd_eliminated.wav
sounds/snd_chainsaw/snd_chainsaw.wav
sounds/snd_bat/snd_bat.wav
sounds/snd_duckasmr/snd_duckasmr.wav
sounds/snd_explodealert/snd_explodealert.wav
sounds/snd_trumpet2b/snd_trumpet2b.wav
sounds/snd_clockhands/snd_clockhands.wav
sounds/snd_magiccirclecreate/snd_magiccirclecreate.wav
sounds/snd_charSelectWoosh/snd_charSelectWoosh.wav
sounds/snd_debuff/snd_debuff.wav
sounds/snd_summonphoenix/snd_summonphoenix.wav
sounds/snd_gachading/snd_gachading.wav
sounds/snd_reapersound/snd_reapersound.wav
sounds/snd_yubi/snd_yubi.wav
sounds/snd_goldanvildrop/snd_goldanvildrop.wav
sounds/snd_magicCircle/snd_magicCircle.wav
sounds/bgm_SSS/bgm_SSS.wav
sounds/snd_chargedshot/snd_chargedshot.wav
sounds/snd_bullet3/snd_bullet3.wav
sounds/snd_bossenrage/snd_bossenrage.wav
sounds/snd_nephilimshot/snd_nephilimshot.wav
sounds/snd_firepotato/snd_firepotato.wav
sounds/snd_AxeThrow/snd_AxeThrow.wav
sounds/snd_failed/snd_failed.wav
sounds/snd_lava/snd_lava.wav
sounds/snd_hurt/snd_hurt.wav
sounds/snd_cursespread/snd_cursespread.wav
sounds/bgm_chestopen2/bgm_chestopen2.wav
sounds/snd_revive/snd_revive.wav
sounds/snd_summonShark1/snd_summonShark1.wav
sounds/snd_clockhands3/snd_clockhands3.wav
sounds/bgm_gamewin/bgm_gamewin.wav
sounds/snd_tailinit/snd_tailinit.wav
sounds/bgm_chestopen1/bgm_chestopen1.wav
sounds/snd_hit1/snd_hit1.wav
sounds/snd_trumpet2c/snd_trumpet2c.wav
sounds/snd_iryslight/snd_iryslight.wav
sounds/snd_sakura/snd_sakura.wav
sounds/snd_trumpetb/snd_trumpetb.wav
sounds/snd_leaves/snd_leaves.wav
sounds/snd_becomebig/snd_becomebig.wav
sounds/snd_nyeh/snd_nyeh.wav
sounds/snd_electricfield/snd_electricfield.wav
sounds/snd_laser/snd_laser.wav
sounds/snd_hit3/snd_hit3.wav
sounds/snd_bark/snd_bark.wav
sounds/snd_headphonesbounce/snd_headphonesbounce.wav
sounds/snd_tearsstream/snd_tearsstream.wav
sounds/snd_brainwash/snd_brainwash.wav
sounds/snd_taikodrumHeavyHit/snd_taikodrumHeavyHit.wav
sounds/snd_ayamespiritsummon/snd_ayamespiritsummon.wav
sounds/snd_rockbreak/snd_rockbreak.wav
sounds/snd_fullconcert/snd_fullconcert.wav
sounds/bgm_chestopen3/bgm_chestopen3.wav
sounds/snd_mogumogutime/snd_mogumogutime.wav
sounds/snd_heal2/snd_heal2.wav
sounds/snd_banned/snd_banned.wav
sounds/snd_phoenixcry/snd_phoenixcry.wav
sounds/snd_enemyAttack/snd_enemyAttack.wav
sounds/snd_tears/snd_tears.wav
sounds/snd_tailplug3/snd_tailplug3.wav
sounds/snd_anvildrop/snd_anvildrop.wav
sounds/snd_bigexplod/snd_bigexplod.wav
sounds/snd_shopBuy/snd_shopBuy.wav
sounds/snd_magicblast/snd_magicblast.wav
sounds/bgm_candygoround/bgm_candygoround.wav
sounds/snd_kapu/snd_kapu.wav
sounds/snd_dice/snd_dice.wav
sounds/bgm_suspect/bgm_suspect.wav
sounds/snd_ADF/snd_ADF.wav
sounds/bgm_stardust/bgm_stardust.wav
sounds/snd_heavyhit/snd_heavyhit.wav
sounds/snd_haatoproj/snd_haatoproj.wav
sounds/snd_tailplug/snd_tailplug.wav
sounds/snd_normalthrow/snd_normalthrow.wav
sounds/snd_constantfire/snd_constantfire.wav
sounds/snd_charSelected/snd_charSelected.wav
sounds/snd_trumpet2/snd_trumpet2.wav
sounds/snd_fireworks/snd_fireworks.wav
sounds/snd_getmoney/snd_getmoney.wav
sounds/snd_gacha_get/snd_gacha_get.wav
sounds/snd_iceshatter/snd_iceshatter.wav
sounds/snd_formchange/snd_formchange.wav
sounds/snd_attackreflect/snd_attackreflect.wav
sounds/snd_goldenyagoo/snd_goldenyagoo.wav
sounds/snd_trumpetc/snd_trumpetc.wav
sounds/snd_tentacle/snd_tentacle.wav
sounds/snd_icicle/snd_icicle.wav
sounds/snd_needlestab/snd_needlestab.wav
sounds/snd_bigwoosh/snd_bigwoosh.wav
sounds/snd_stomp/snd_stomp.wav
sounds/bgm_chestopen3_short/bgm_chestopen3_short.wav
sounds/snd_stickerdrop/snd_stickerdrop.wav
